<!DOCTYPE html>
<html>
<head>
    <title>Jerry</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <% if(isDebug){ %>
    <link rel="stylesheet" href="/stylesheets/Bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <% }else { %>
    <link rel="stylesheet" href="dest/style.min<%= styleVer %>.css"/>
    <% } %>
</head>
<body>
<div id="content" class="content"></div>
<script src="dest/base.min<%= baseVer %>.js"></script>
<script src="dest/index<%= indexVer %>.js"></script>
</body>
</html>
