<!DOCTYPE html>
<html>
<head>
    <title>QProxy</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <!--<link rel="stylesheet" href="/stylesheets/Bootstrap.css">-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <link rel="stylesheet" href="dest/style.min.css"/>
</head>
<body>
<div id="content" class="content"></div>
<script src="dest/base.min.js"></script>
<script src="dest/index.js"></script>
</body>
</html>
