body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

a:focus, a:active, a:link, a:hover {
    outline: none;
}

textarea {
    padding: 0;
}

.content {
    overflow: hidden;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.modal.fade .modal-dialog {
    transition: transform .15s ease-out
}

.btn.focus, .btn:focus, .btn:hover {
    outline: none;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.jerry {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
    overflow: hidden;
    background: url('/images/jerry.png') 60% 5%;
    background-size: 180% 180%;
    border-radius: 50%;
    float: left;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.cache-control-wrap {
    margin-bottom: 15px;
}

.cache-control {
    margin-left: 17px;
}

.cache-control button .text {
    display: inline-block;
    width: 102px;
}

.cache-control .btn .caret {
    margin-left: 5px;
}

.setting_panel {
    padding: 20px;
}

.table {
    table-layout: fixed;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.group_setting_table .domain {
    width: 40%;
}

.group_setting_table .env {
    width: 20%;
}

.group_setting_table .host {
    width: 20%;
}

.table .rewrite_rule_is_on {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.newRuleModal_content #newRule_domain {
    width: 550px;
    height: 220px;
}

.newRuleModal_content select, .newRuleModal_content input {
    width: 300px;
}

.serverView {
}

.serverView .serverInfo_input {
    height: 400px;
    width: 60%;
}

.serverView .page-header h1 {

}

.serverView .save {
    float: left;
    width: 100px;
    margin-top: 10px;
}

#addRuleMultiInput {
    width: 550px;
    height: 220px;
}

.exportHostDisplay {
    width: 100%;
    height: 400px;
}

.page-header .btn, .del_cell .btn {
    margin-right: 5px;
}

.rule_domain {
    cursor: pointer;
}

.navbar-nav a.active, .navbar-nav li:hover, .nav-bar-nav li:focus {
    color: #555;
    background: #e7e7e7 !important;
}

.rewrite_rule .del_pattern {
    margin-left: 5px;
}

.rule-select {
    width: 20px;
}

.network-setting-modal .form-group label {
    width: 80px;
}

.network-setting-modal .modal-content {
    width: 350px;
}

.https-switch, .throttling-select {
    margin-bottom: 0;
    margin-left: 10px;
}

.https-switch .btn, .throttling-select .btn {
    width: 200px;
    height: 34px;
    text-align: left;
    display: block;
    float: none;
}

.https-switch .btn span:first-child, .throttling-select .btn span:first-child {
    float: left;
}

.https-switch .caret, .throttling-select .caret {
    float: right;
    display: block;
    margin-top: 8px;
}

.logger-view {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.logger-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

.logger-right {
    flex: 1;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
}

.logger-right .tab-pane {
    overflow: auto;
}

.console, .tab-content > .tab-pane {
    height: 75vh;
    margin-top: 15px;
    margin-bottom: 0;
    word-break: break-all;
}

.logger-right .form-group {
    margin-bottom: 0;
}

.logger-right .form-group .name {
    padding: 0;
    margin: 0;
    display: inline;
    line-height: 25px;
    vertical-align: middle;
    text-align: right;
}

.logger-right .form-group .value {
    margin-left: .5em;
    padding: 0;
    line-height: 25px;
    vertical-align: middle;
    margin-bottom: 0;
    word-break: break-all;
}

.log-overview .panel-group {
    margin-bottom: 4px;
}

.log-overview .panel-group:last-child {
    margin-bottom: 0;
}

.filter {
    display: flex;
    flex-direction: row;
}

.filter-input {
    flex: 1;
}

.filter-btn, .reset-btn, .block-btn {
    margin-left: 5px;
    width: 100px;
}

.block-btn {
}

.log-detail-panel {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.nav-tabs > li.active.log-detail-first-tab {
    border-bottom-left-radius: 0;
}

.logger-right-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logger-right-content .nav > li > a {
    padding: 6px 15px;
}

.logger-right-content .tab-content {
    flex: 1;
    border-radius: 0 0 6px 6px;
    border-top: none;
}

.info-item {
    list-style: none;
}

.log-item {
    display: block;
    height: 100%;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.log-item-blockpoint {
    color: #d9534f;
    margin-right: 5px;
}

.log-item-method.get {
    color: #5cb85c;
}

.log-item-method.post {
    color: #d9534f;
}

.listview-container {
    overflow: auto
}

.listview-item-wrap.active, .listview-item-wrap.active:hover {
    background: #428bca;
}

.listview-item-wrap.active a,
.listview-item-wrap.active .log-item-url,
.listview-item-wrap.active .log-item-method,
.listview-item-wrap.active .log-item-status,
.listview-item-wrap.active .log-item-blockpoint {
    color: white;
}

.listview-item-wrap:hover {
    text-decoration: none;
    background: #eee;
    color: #23527c;
    cursor: pointer;
}

.log-item:active, .log-item:visited, .log-item:focus, .log-item:hover {
    text-decoration: none;
}

.log-item-method, .log-item-url {
    display: inline-block;
}

.log-item-url, .log-item-status {
    margin-left: 5px;
}

.log-item .success {
    color: #337ab7;
}

.log-item .redirect {
    color: #dac146;
}

.log-item .server-error, .log-item .client-error {
    color: #d43f3a;
}

.logger-left .panel-title {
    position: relative;
}

.clear-console, .all-continue, .all-abort {
    padding: 3px 8px;
    margin-left: 5px;
    margin-top: -6px;
    position: absolute;;
}

.clear-console {
    position: absolute;
    padding: 3px 8px;
    margin-left: 5px;
    margin-top: -6px;
    margin-right: -10px;
    left: 265px;
    top: 0;
}

.clear-console:hover, .clear-console:focus, .clear-console:active {
    text-decoration: none;
}

.all-continue {
    left: 300px;
}

.all-abort {
    left: 405px;
}

.clear-console:hover {
    color: #000;
}

.body-textarea {
    border: none;
    resize: none;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.body-textarea:focus, .body-textarea:active {
    border: none;
    outline: none;
}

.clear-detail {
    float: right;
    padding: 0 3px;
    margin-top: 8px;
}

.block-point-btn {
    padding: 3px 5px;
    margin-top: 3px;
}

.block-point-abort {
    margin-left: 3px;
}

.block-point-insert-input {
    display: flex;
}

.block-point-setting {
    margin-top: 10px;
}

.block-point-insert-input .insert-btn, .multi-del-btn {
    margin-left: 5px;
    width: 90px;
}

.block-point-setting-select-all {
    width: 28px;
}

.block-point-setting-is-on, .block-point-setting-del-btn {
    width: 80px;
    text-align: center;
}

input[type=checkbox].block-point-select {
    margin-top: 11px;
}

.block-point-list-item .block-point-list-regex {
    vertical-align: middle;
    word-break: break-all;
}

.network-setting-open {
    margin-bottom: 10px;
    width: 100%;
}

.https-switch, .throttling-select {
    margin-left: 10px;
}

.https-switch, .throttling-select button {
    width: 136px;
}

.group_nav li a {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.mock-switch span.mock-switch-caret {
    margin-left: 5px;
}

#groupView .page-header .btn{

}
